/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
    margin: 0;
    padding: 0;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
}

button:focus {
    color: rgb(214, 22, 80);
}

img {
    width: 100px;
}

div>p:first-child {
    display: inline;
}

div img {
    background: black;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-right: 30px;
    margin-top: 100px;

   
   
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 250px;
  
}

.icone {
    height: 15px;
    width: auto;
   
    background-color: white;
  
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    color: white;
}

#container-de-descricao>ol {
    padding: 16px;
    text-align: center;
   list-style-position: inside;
}

#container-para-comprar {
    background-color: #e7eb90;
}

#container-para-comprar>p {
    color: #c44f00;
    padding: 100px 0;
    font-size: 60px;
}


/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
 
    
}

td{

    border-bottom: double
}





td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
}




td button :active{
  
    color: rgb(255, 248, 248);


}
td button:hover{

background-color: rgb(184, 6, 184);

}                                


.container-do-search {
    margin-top: 20px;
    height: 100px;
}


#back-button {
    background-color: rgba(241, 226, 16, 0.808);
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: rgb(3, 3, 3);
}

#back-button:hover {
    background-color: #635a3d
}

div > table{
text-align: center;
  
}
